Repository LerianStudio/lib-commons, pull requests merged in 2025-06, with the labels that each got.

#85 fix: create test redis and add miniredis and gopher-lua;
  commons/redis/redis_test.go
  go.mod
  go.sum
Labels: Feature, go

#91 Develop
  CHANGELOG.md
  commons/shutdown/license.go
  commons/shutdown/license_test.go
  commons/shutdown/shutdown.go
  commons/shutdown/shutdown_test.go
  go.mod
  go.sum
Labels: released on @develop

#97 feat/MIDAZ-450
  commons/transaction/transaction.go
  commons/transaction/validations.go
  go.mod
  go.sum
Labels: Feature, go

#98 merge: develop to main
  CHANGELOG.md
  commons/transaction/transaction.go
  commons/transaction/validations.go
  go.mod
  go.sum
Labels: Feature, go

#100 feat/MIDAZ-450
  commons/constants/errors.go
  commons/errors.go
  commons/transaction/validations.go
  commons/transaction/validations_test.go
Labels: Feature, go

#107 merge: develop to main (hotfix/COMMONS-997)
  .releaserc.yml
  CHANGELOG.md
  commons/rabbitmq/rabbitmq.go
  commons/rabbitmq/rabbitmq_test.go
  go.mod
  go.sum
Labels: bug, go

#108 fix/COMMONS-997
  commons/redis/redis_test.go
  go.mod
  go.sum
Labels: go

#110 merge: develop to main;
  CHANGELOG.md
  commons/log/log_test.go
  commons/redis/redis_test.go
  go.mod
  go.sum
Labels: bug, enhancement, go

#112 merge: develop to main;
  .releaserc.yml
  CHANGELOG.md
  commons/shutdown/shutdown_test.go
Labels: bug, Feature, go

#118 feat/COMMONS-52
  .github/workflows/go-combined-analysis.yml
  .github/workflows/release.yml
  .golangci.yml
  commons/redis/redis.go
  commons/redis/redis_test.go
Labels: Feature, go

#119 feat/COMMONS-52
  commons/redis/redis.go
  commons/redis/redis_test.go
Labels: Feature, go

#121 Feat/commons 52 3
  commons/redis/redis.go
  go.mod
  go.sum
Labels: Feature, go

#122 Feat/COMMONS-52-4
  commons/utils.go
Labels: Feature, go

#123 fix: adjust camel case time name;
  commons/redis/redis.go
Labels: Feature, go

#124 fix/COMMONS-52-6
  commons/rabbitmq/rabbitmq.go
  commons/redis/redis.go
Labels: Feature, go

#127 Feat/COMMONS-52-9
  commons/redis/redis.go
Labels: Feature, go

#128 Feat/COMMONS-52-10
  commons/redis/redis.go
Labels: Feature, go

#132 Feat/COMMONS-1023
  commons/constants/headers.go
Labels: enhancement, go
