Repository LerianStudio/lib-commons, pull requests merged in 2025-05, with the labels that each got.

#37 fix(transaction): improve validation in send source and distribute ca…
  commons/transaction/validations.go
  go.mod
  go.sum
Labels: bug

#38 fix(transaction): improve validation in send source and distribute ca…
  commons/transaction/validations.go
Labels: bug

#39 fix(transaction): improve validation in send source and distribute ca…
  commons/transaction/validations.go
Labels: bug

#44 fix: add check if account is empty using accountAlias; :bug:
  commons/transaction/transaction.go
  commons/transaction/validations.go
Labels: bug

#45 Fix/703
  commons/transaction/validations.go
Labels: bug

#46 merge: develop to main;
  CHANGELOG.md
  README.md
  commons/transaction/transaction.go
  commons/transaction/validations.go
  go.mod
  go.sum
Labels: bug, Feature

#36 feat: add shutdown module
  commons/shutdown/shutdown.go
  go.mod
  go.sum
Labels: Don't Merge

#58 fix: Add integer overflow protection to transaction operations; :bug:
  commons/constants/errors.go
  commons/errors.go
  commons/transaction/validations.go
  go.mod
  go.sum
Labels: bug

#60 fix: change message error and add check scale value > 18; :bug:
  commons/errors.go
  commons/transaction/validations.go
Labels: bug

#59 merge: develop to main;
  CHANGELOG.md
  commons/constants/errors.go
  commons/errors.go
  commons/transaction/validations.go
  go.mod
  go.sum
Labels: bug, released on @develop
