Repository LerianStudio/lib-commons, pull requests merged in 2025-08, with the labels that each got.

#182 Feat/COMMONS-1155
  commons/transaction/transaction.go
  go.mod
  go.sum
Labels: Feature, Don't Merge, released on @develop, go

#184 Develop
  CHANGELOG.md
  commons/constants/obfuscation.go
  commons/net/http/withLogging.go
  commons/net/http/withTelemetry.go
  commons/opentelemetry/obfuscation_test.go
  commons/opentelemetry/otel.go
  commons/transaction/transaction.go
  commons/transaction/validations.go
  commons/utils.go
  go.mod
  go.sum
Labels: released on @develop, go, refactor

#196 Refactor/COMMONS-1043
  .gitignore
  commons/net/http/cursor.go
  commons/net/http/cursor_test.go
  go.mod
  go.sum
Labels: go, refactor
