Repository LerianStudio/lib-commons, pull requests merged in 2025-03, with the labels that each got.

#2 Feature/new implements
  .github/workflows/release.yml
  .gitignore
  Makefile
  README.md
  commons/app.go
  commons/constants/headers.go
  commons/constants/metadata.go
  commons/constants/pagination.go
  commons/context.go
  commons/log/log.go
  commons/log/log_mock.go
  commons/log/nil.go
  commons/mongo/mongo.go
  commons/net/http/cursor.go
  commons/net/http/cursor_test.go
  commons/net/http/handler.go
  commons/net/http/proxy.go
  commons/net/http/response.go
  commons/net/http/withBasicAuth.go
  commons/net/http/withCORS.go
  commons/net/http/withLogging.go
  commons/net/http/withTelemetry.go
  commons/opentelemetry/otel.go
  commons/os.go
  commons/pointers/pointers.go
  commons/pointers/pointers_test.go
  commons/postgres/pagination.go
  commons/postgres/postgres.go
  commons/rabbitmq/rabbitmq.go
  commons/redis/redis.go
  commons/shell/ascii.sh
  commons/shell/colors.sh
  commons/shell/logo.txt
  commons/shell/makefile_colors.mk
  commons/shell/makefile_utils.mk
  commons/stringUtils.go
  commons/time.go
  commons/utils.go
  commons/zap/injector.go
  commons/zap/injector_test.go
  commons/zap/zap.go
  commons/zap/zap_test.go
  go.mod
  go.sum
Labels: enhancement, Feature

#3 Feature/add transaction to lib
  commons/constants/errors.go
  commons/constants/transaction.go
  commons/errors.go
  commons/net/http/response.go
  commons/net/http/withBasicAuth.go
  commons/net/http/withTelemetry.go
  commons/transaction/transaction.go
  commons/transaction/validations.go
Labels: Feature

#6 docs: updating readme file and go mod/sum
  README.md
  go.mod
  go.sum
Labels: documentation

#7 docs: merge develop to main;
  README.md
  go.mod
  go.sum
Labels: documentation

#10 Fix/COMMONS-002
  .github/workflows/go-combined-analysis.yml
  go.mod
  go.sum
Labels: Feature, go
